<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="id">Id</th>
    <th mat-sort-header="data">Data</th>
    <th mat-sort-header="user">User</th>
    <th mat-sort-header="server" >Server</th>
    <th mat-sort-header="service">Service</th>
    <th mat-sort-header="desc">Descrizione</th>
  </tr>
  @for(log of sortedLogs(); track log){
  <tr>
    <td>{{log.id}}</td>
    <td>{{log.data}}</td>
    <td>{{log.userEmail}}</td>
    <td>{{log.ip}}</td>
    <td>{{log.service}}</td>
    <td>{{log.descr}}</td>
  </tr>
  }
 @empty {
      <tr><td colspan="6">No data</td></tr>
    }

</table>
