<mat-toolbar color="primary">
  <button (click)="navigateToHome()" >

  <span class="toolbar-title">🦅 Corvo</span>
  </button>

  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title> Dettagli server</mat-card-title>
  </mat-card-header>


  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Dettagli server</span>
        <span  matListItemLine>Ip:{{localServer.ip}}</span>
        <!-- NOME con modifica -->
        <span matListItemLine>
          <ng-container *ngIf="!isEditingName; else editNameBlock">
            Nome: {{ localServer.name }}
            <button mat-icon-button (click)="enableEdit('name')">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-container>
          <ng-template #editNameBlock>
            <mat-form-field appearance="fill">
              <input matInput [(ngModel)]="newName" (ngModelChange)="onInputChange()" />
            </mat-form-field>
          </ng-template>
        </span>

        <!-- DESCRIZIONE con modifica -->
        <span matListItemLine>
          <ng-container *ngIf="!isEditingDescr; else editDescrBlock">
            Descrizione: {{ localServer.descr }}
            <button mat-icon-button (click)="enableEdit('descr')">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-container>
          <ng-template #editDescrBlock>
            <mat-form-field appearance="fill">
              <input matInput [(ngModel)]="newDescr" (ngModelChange)="onInputChange()" />
            </mat-form-field>
          </ng-template>
        </span>
        <span matListItemLine>Stato:@if(localServer.state){up}@else{down} </span>
      </mat-list-item>
    </mat-list>

    <br>
    <div *ngIf="hasChanges" class="action-buttons">
      <button mat-raised-button color="primary" (click)="saveChanges()" [disabled]="isSaving">Salva</button>
      <button mat-raised-button color="warn" (click)="cancelEdit()" [disabled]="isSaving">Annulla</button>
    </div>

<!-- Messaggi -->
<mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
<mat-hint *ngIf="successMessage">{{ successMessage }}</mat-hint>
<H2>Regole attive</H2>
    @if(activeRulesList.length>0){

    <mat-list>
      @if(generalRules.length>0){
      <mat-list-item>
        <span matListItemTitle>Regole generali</span>
      @for(val of generalRules; track val.id) {
        <span matListItemLine>Descrizione:{{val.descr}}</span>

      }
      </mat-list-item>
      }

      @if(rulesDB.length>0){

      <mat-list-item>
        <span matListItemTitle>Regole Database</span>
        @for(val of rulesDB; track val.id) {
        <span matListItemLine>Descrizione:{{val.descr}}</span>
        }
      </mat-list-item>
      }

      @if(rulesDocker.length>0){

      <mat-list-item>
        <span matListItemTitle>Regole Docker</span>
        @for(val of rulesDocker; track val.id) {
        <span matListItemLine>Descrizione:{{val.descr}}</span>
        }
      </mat-list-item>
      }

      @if(rulesHa.length>0){

      <mat-list-item>
        <span matListItemTitle>Regole Ha</span>
        @for(val of rulesHa; track val.id) {
        <span matListItemLine>Descrizione:{{val.descr}}</span>
        }
      </mat-list-item>
      }
    </mat-list>
    }@else{
    <span> Non ci sono regole attive</span>
    }
    <button   mat-raised-button (click)="navigateToLynis()">Scansione Lynis</button>


  </mat-card-content>
</mat-card>
