<div class="centered-card-container">
  <mat-card>
    <div class="custom-header">
      <button mat-icon-button (click)="goBack()" aria-label="Torna indietro">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="custom-title">Corvo</h2>
    </div>
    <mat-card-content>

      <form [formGroup]="formLogin" (submit)="submitLogin()">
        <mat-form-field>
          <mat-label >Inserisci email</mat-label>
          <input id="email" matInput type="email" formControlName="email"/>
          @if(formLogin.controls['email'].errors?.['required']){
            <mat-error>valore richiesto</mat-error>
          }
          @if(formLogin.controls['email'].errors?.['email']){
            <mat-error>formato email non valido</mat-error>
          }
          @if(formLogin.controls['email'].errors?.['email']){
            <mat-error>formato email non valido</mat-error>
          }
        </mat-form-field>
        <br>

        <mat-form-field>
          <mat-label >Inserisci password</mat-label>
          <input id="pwd" matInput [type]="hide ? 'password' : 'text'" formControlName="pwd"/>
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility()"
            [attr.aria-label]="hide ? 'Mostra password' : 'Nascondi password'"
            [attr.aria-pressed]="!hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if(formLogin.controls['pwd'].errors?.['pattern']){
            <mat-error>la password deve contenere almeno 6 caratteri comprendenti una maiuscola,una minuscola e un carattere speciale</mat-error>
          }
          @if(formLogin.controls['pwd'].errors?.['required']){
            <mat-error>valore richiesto</mat-error>
          }
        </mat-form-field>

        <br>
        <button mat-raised-button color="primary" type="submit">Invia dati</button>
        @if(errorCredentials){
        <mat-error>Username o password non validi</mat-error>
        }
      </form>
      <br>

    </mat-card-content>
  </mat-card>
</div>
