
<mat-toolbar>
  <button (click)="navigateToHome()" > <span class="toolbar-title">🦅 Corvo</span> </button>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item [routerLink]="['/user']">
      <span>{{ userName }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-card>
  <mat-card-content>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>  Riepilogo informazioni</mat-panel-title>
    </mat-expansion-panel-header>
        <p>Ip attulale {{ip}} </p>
  </mat-expansion-panel>
</mat-accordion>
<br>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Report  </mat-panel-title>
    </mat-expansion-panel-header>
        <report-view [ip]="ip"> </report-view>
  </mat-expansion-panel>
</mat-accordion>
    <br>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Regole disabilitate</mat-panel-title>
    </mat-expansion-panel-header>
        @if(acutalConfig.listIdSkippedTest.length>0){
        <mat-list>
          @for(el of acutalConfig.listIdSkippedTest;track el){
          <mat-list-item>{{el}}</mat-list-item>
          }
        </mat-list>

        }
        @else{
        <span>Non ci sono regole disabilite</span>
        }
        <br>
        <button mat-raised-button >Lancia scansione</button>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <button mat-raised-button (click)="testDialog()">Aggiungi regola da disabilitare</button>
        <span class="spacer"></span>
        <button mat-raised-button (click)="saveSkippedList()">Salva configurazione</button>
  </mat-expansion-panel>
</mat-accordion>
  </mat-card-content>
</mat-card>
